/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */
/** exercise 3 */
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.blue-square {
    width: 120px;
    height: 120px;
    color: #000;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgb(0, 0, 255);
    display: inline-block;
}
/** exercise 4 */
#special {
    border: 4px solid #000;
}
/** exercise 5 */
.cascading-parent {
    font-weight: bold;
    color: #FFF;
}

.cascading-child {
    background-color: #000;
    width: 200px;
    height: 200px;
    color: #FF0 !important;
}

.override {
    color: #0F5 !important;
}

/** exercise 6 */
a {
    font-size: 22px;
    color: #F0F;
} 

.cascading-parent h2 {
    color: #FD0;
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC;
}

/** exercise 7 */
.site-font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.site-color {
    background-color: indigo;
    color: #FFF;
}

.site-square {
    width: 200px;
    height: 200px;
}

/** exercise 8 */
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

/* exercise 9 */

:root {
    --font: Arial, sans-serif;

    --primary-color: steelblue;
    --text-color: white;

    --card-width: 250px;
    --padding: 20px;
    --margin: 20px;

    --border-radius: 10px;
}

.card {
    width: var(--card-width);
    padding: var(--padding);
    margin: var(--margin);

    background-color: var(--primary-color);
    color: var(--text-color);

    border-radius: var(--border-radius);
}

/* Exercise 10 */
.button-container a {
    width: 200px;
    padding: 10px;
    color: #FFF;
    background-color: #F00;
    
    /* ROUNDING THE CORNERS */
    border-radius: 10px;
    
    /* CREATED WITH THE SHADOW GENERATOR */
    -webkit-box-shadow: 13px 25px 11px 10px rgba(0,0,0,0.43);
    -moz-box-shadow: 13px 25px 11px 10px rgba(0,0,0,0.43);
    box-shadow: 13px 25px 11px 10px rgba(0,0,0,0.43);

    /* Let's get rid of the underline */
    text-decoration: none;

    /* Transition effect */
    transition: all 0.5s ease;
}

.button-container a:hover {
    background-color: #AF1F16;
    /* Let's get rid of the underline */
    text-decoration: none;
}

:root {
    --button-bg: rgb(0, 115, 255);
    --button-text: white;
    --button-hover: rgb(0, 139, 16);
}
.button-container-2 a {
    display: inline-block;
    padding: 10px 20px;

    background-color: var(--button-bg);
    color: var(--button-text);

    border-radius: 10px;
    text-decoration: none;

    transition: all 0.5s ease;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}
.button-container-2 a:hover {
    background-color: var(--button-hover);
}

.button-container-3 a {
    display: inline-block;
    padding: 10px 20px;

    background: linear-gradient(to right, blue, purple);
    color: white;

    border-radius: 10px;
    text-decoration: none;

    transition: all 0.5s ease;
}

.button-container-3 a:hover {
    opacity: 0.8;
}