/**
 * Basis CSS file
 *
 * @author  Educom
 * @version 1.0
 *
 */
/** exercise 3 */
.red-square {
    width: 80px;
    height: 80px;
    color: #FFF;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}

.blue-square {
    width: 120px;
    height: 120px;
    color: #000;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgb(0, 0, 255);
    display: inline-block;
}
/** exercise 4 */
#special {
    border: 4px solid #000;
}
/** exercise 5 */
.cascading-parent {
    font-weight: bold;
    color: #FFF;
}

.cascading-child {
    background-color: #000;
    width: 200px;
    height: 200px;
    color: #FF0 !important;
}

.override {
    color: #0F5 !important;
}

/** exercise 6 */
a {
    font-size: 22px;
    color: #F0F;
} 

.cascading-parent h2 {
    color: #FD0;
}

.cascading-parent a {
    font-size: 32px;
    color: #CCC;
}
